@import "./../../styles/variables.scss";

body {
  background: #151515;
  color: $white;
}

.main-layout {
  display: flex;
  height: 100vh;
}

.responsive-container {
  max-width: $wizard-max-width;
  padding: 2em 0em;
  margin: auto;
}