// Zenon brand colors
$zenon-green: #6FF34D;
$quasar-blue: #0061EB;
$plasma-pink: #F91690;
$syrius-green: #00D557;

$primary: $zenon-green;
$primary-gradient-start: $zenon-green;
$primary-gradient-end: $zenon-green;
$primary-gradient: $zenon-green;
$primary-gradient-darker: $zenon-green;

$secondary: $quasar-blue;
$secondary-gradient-start: $quasar-blue;
$secondary-gradient-end: $quasar-blue;
$secondary-gradient: $quasar-blue;

$alert: #EF4444;
$alert-gradient-start: #EF4444;
$alert-gradient-end: #EF4444;
$alert-gradient: #EF4444;

$accent: $plasma-pink;
$accent-gradient-start: $plasma-pink;
$accent-gradient-end: $plasma-pink;
$accent-gradient: $plasma-pink;

$wznn: #8ecc45;
$wznn-gradient-start: #f2ba2f;
$wznn-gradient-end: #8ecc45;
$wznn-gradient: linear-gradient(-40deg, #f2ba2f 0%, #8ecc45 100%);

$qsr: #3fa89c;
$qsr-gradient-start: #446bee;
$qsr-gradient-end: #3fa89c;
$qsr-gradient: linear-gradient(-40deg, #446bee 0%, #3fa89c 100%);

$gray: #262626;
$dark: #1B1B1B;
$black: #141414;
$lt-gray: #717171;
$white-gray: #b1b1b1;
$white: #FFFFFF;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1520px
);

$container-max-widths: (
  xs: 576px,
  sm: 576px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1420px,
);

$wizard-preferred-width: 850px;
$wizard-max-width: 850px;
